.card{
   border: 3px solid black;
   
   
   margin-bottom: 0rem;
   box-shadow: 4px 0px 5px 2px black;
   
   height: 450px;
   
   width: 400px;
 
}
.card-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;

 font-size: 15px;
}
button{
    background-color:rgb(50, 33, 236);
  
    padding:0.3rem;
   color: white;
    border: none;
}
/* img{
    width: 100%;
} */
.superhit{
    background-color: rgb(0, 119, 128);
}
.average{
    background-color: yellowgreen;
}
li::marker {
  content: '';
}
